@using Beseler.Shared.Budgeting

<div class="card m-1">
    <div class="card-header @_titleClass">
        <h3 class="card-title">@Name</h3>
    </div>
    <div class="card-body border border-2 @_borderClass">
        <table class="card-body table table-responsive table-secondary">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @if (!IsLoaded)
                {
                    <tr>
                        <td colspan="3">Loading...</td>
                    </tr>
                }
                else
                {
                    @foreach (var transaction in Transactions.OrderBy(x => x.TransactionDate))
                    {
                        <tr>
                            <td>@transaction.TransactionDate.Day</td>
                            <td>@transaction.Description</td>
                            <td>@transaction.Amount</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="3">
                            <div class="input-group">
                                <InputNumber class="form-control form-control-sm" @bind-Value="_model.Day" />
                                <InputText class="form-control" @bind-Value="_model.Description" />
                                <InputNumber class="form-control" @bind-Value="_model.Amount" />
                            </div>                            
                        </td>
                    </tr>
                }
            </tbody>            
        </table>
    </div>
</div>

@code {
    [Parameter, EditorRequired] public required string Name { get; set; }
    [Parameter] public List<BudgetLineDto> Transactions { get; set; } = [];
    [Parameter] public bool IsLoaded { get; set; }

    private EditContext? _context;
    private Model _model = new();
    private string _titleClass =>
        Name switch
        {
            "Income" => "bg-success",
            "Expenses" => "bg-danger",
            "Savings" => "bg-info",
            _ => ""
        };
    private string _borderClass =>
        Name switch
        {
            "Income" => "border-success",
            "Expenses" => "border-danger",
            "Savings" => "border-info",
            _ => ""
        };

    protected override void OnInitialized() => _context = new(_model);

    private class Model
    {
        public int? Day { get; set; }
        public string? Description { get; set; }
        public decimal? Amount { get; set; }
    }
}
