@page "/register"
@using System.ComponentModel.DataAnnotations
@using Beseler.Shared.Accounts.Requests
@inject ILogger<Register> Logger

<PageTitle>BSLR: Register</PageTitle>

<div class="mask d-flex align-items-center h-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">

                        <EditForm EditContext="Context" Model="Model" OnValidSubmit="@Submit" FormName="AccountRegistration">
                            <DataAnnotationsValidator />

                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                            <div class="form-outline mb-4">
                                <label for="Input_FirstName" class="form-label">First Name</label>
                                <InputText id="Input_FirstName" class="form-control form-control-lg" @bind-Value="Model.FirstName" />
                                <ValidationMessage For="@(() => Model.FirstName)" />
                            </div>

                            <div class="form-outline mb-4">
                                <label for="Input_LastName" class="form-label">Last Name</label>
                                <InputText id="Input_LastName" class="form-control form-control-lg" @bind-Value="Model.LastName" />
                                <ValidationMessage For="@(() => Model.FirstName)" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="Input_Email">Email</label>
                                <InputText type="email" id="Input_Email" class="form-control form-control-lg" @bind-Value="Model.Email" />
                                <ValidationMessage For="@(() => Model.Email)" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="Input_Password">Password</label>
                                <InputText type="password" id="Input_Password" class="form-control form-control-lg" @bind-Value="Model.Password" />
                                <ValidationMessage For="@(() => Model.Password)" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="Input_ConfirmPassword">Repeat your password</label>
                                <InputText type="password" id="Input_ConfirmPassword" class="form-control form-control-lg" @bind-Value="Model.ConfirmPassword" />
                                <ValidationMessage For="@(() => Model.ConfirmPassword)" />
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="reset" class="btn btn-secondary btn-block btn-lg text-body me-2" @onclick="Reset">Reset</button>
                                <button type="submit" class="btn btn-primary btn-block btn-lg text-body ms-2">Register</button>
                            </div>

                            <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="login" class="link fw-bold text-decoration-underline">Login here</a></p>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private RegisterModel Model { get; set; } = new();
    private EditContext? Context;

    private class RegisterModel
    {
        [Required(ErrorMessage = "Email is required!")]
        [EmailAddress]
        public string? Email { get; set; }

        [Required(ErrorMessage = "First name is required!")]
        [MinLength(2), MaxLength(50)]
        public string? FirstName { get; set; }

        [Required(ErrorMessage = "Last name is required!")]
        [MinLength(2), MaxLength(50)]
        public string? LastName { get; set; }

        [Required(ErrorMessage = "Password is required!")]
        [MinLength(8), MaxLength(50)]
        public string? Password { get; set; }

        [Required(ErrorMessage = "Re-enter your password!"), Compare(nameof(Password), ErrorMessage = "Passwords to not match!")]
        public string? ConfirmPassword { get; set; }
    }

    private void Reset()
    {
        Model = new RegisterModel();
        Context?.NotifyValidationStateChanged();
    }

    private void Submit()
    {
        var request = new RegisterAccountRequest(Model.Email!, Model.FirstName!, Model.LastName!, Model.Password!);

        Logger.LogInformation("Submit called: Processing the form\n{@Request}", request);
    }
}
